.section-profile{
    height: 350px;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./img/girl.jpg');
    background-size: cover;
    background-position: 50% 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-container{
    width: 515px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
.profile-container > h1{
    font-size: 38px;
    margin-bottom: 40px;
}

.profile-container > p{
    font-size: 18px;
}


.need-project-container{
    margin: 0 auto 100px auto;
    width: 537px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-about-me{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 570px;

    background-image: url("./img/about-me-background.jpg");
    background-size: cover;
    background-position: 50% 70%;
}

.about-me-container{
    width: 455px;
    margin-right: 140px;
}
.about-header{
    font-weight: bold;
    font-size: 38px;
}
.about-text{
    margin-top: 35px;
}

.about-me-sign{
    margin-top: 40px;
}


/*Temporary*/
.statistics{
    height: 240px;
    background-color: #10c9c3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.numbers-card{
    display: flex;
    color: white;
    height: 40px;
}

.numbers-card-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 25px;
}
.numbers-card-info > h3{
    font-size: 18px;
    font-weight: bold;
}
.numbers-card-info>p{
    font-size: 12px;
}

.section-header{
    font-weight: bold;
    font-size: 38px;
    margin-top: 100px;
}
.section-info{
    margin-top: 35px;
    text-align: center;
}